@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/login/login">
    username:<input type="text" name="username"/>
    password:<input type="password" name="passward" />
    <input type="submit" />
</form>
